<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

	<targets>
		<!--<target xsi:type="File"
				name="apiFile"
				fileName="logs/apiLog-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"
				archiveEvery="Day"
				keepFileOpen="false"
				encoding="utf-8" />-->

		<!--<target xsi:type="File"
				name="appFile"
				fileName="logs/app-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}"
				archiveEvery="Day"
				keepFileOpen="false"
				encoding="utf-8" />-->

		<!--<target xsi:type="Console"
				name="console"
				layout="${color:variable=levelColor}${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message}${onexception:${newline}${exception:format=tostring}}${reset}" />-->
	</targets>

	<rules>
		<!--<logger name="Backend.Presentation.Filters.LoggerFilter"
				minlevel="Info"
				writeTo="apiFile"
				final="true" />-->

		<!--<logger name="*"
				minlevel="Trace"
				writeTo="appFile,console" />-->
	</rules>
</nlog>